
.form-label{
  text-align: center;
}
.form-input,
.form-label {
  width: 131px;
}

.application{
  width: 350px;
  margin: auto;
}

.footer{
  height: 70px;
}
.header{
  padding-top: 30px;
  height: 160px;
}
.content{
  margin-top:180px;
  margin-bottom:140px;
}
.money-pool{
  width: 180px;
  text-align: center;
}
.add-money-label{
  margin-right: 68px;
}
