
.form-label{
  text-align: center;
}
.form-input,
.form-label {
  width: 131px;
}

.application{
  width: 350px;
  margin: auto;
}

.footer{
  height: 70px;
}
.header{
  padding-top: 30px;
  height: 195px;
}
.content{
  margin-top:240px;
  margin-bottom:140px;
}
.money-pool{
  width: 180px;
  text-align: center;
}
.add-money-label{
  margin-right: 68px;
}
.header-label-money{
  z-index: 50;
  background-color: white;
}
.labels{
  margin-left: 60px;
}
