.header-list-date{
    padding-top: 30px;
    height: 210px;
  }
  .content-list-date{
    margin-top:225px;
    margin-bottom:140px;
  }
.font-weight-bold{
    font-weight: bold;
    font-size: 20px;
}
